* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid red; */
}

/*----------------- 
   Header Styling 
-------------------*/
.header-banner-section-container {
    background: rgba(255, 144, 14, 0.1);
    height: 1100px;
    margin-bottom: 50px;
}

.navigation-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

.navbar-title {
    font-size: 35px;
}

.lists {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 15px;
}

/*-----------------------------
    Banner Section Styling 
 -----------------------------*/
.banner-section {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.banner-title {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

.banner-description {
    color: #727272;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.banner-button {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.banner img {
    max-width: 1250px;
    width: 100%;
    margin-bottom: 200px;
}

/*------------------------------------------
    Quick list Section styling of main section 
 -------------------------------------------*/
.quick-list-container {
    display: flex;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.quick-list-pic-container {
    max-width: 500px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;
}

.quick-list-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.quick-list {
    max-width: 550px;
    width: 50%;
}

.quick-list-title {
    max-width: 468px;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 35px;
    color: #727272;
    margin-bottom: 24px;
}

.span-one {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.span-two {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}

.quick-list-description {
    max-width: 537px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.quick-list-button {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}

/*------------------------------------------------ 
    Features container styling of main section 
--------------------------------------------------*/
.features-container {
    display: flex;
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 200px;
}

.features-title-container {
    max-width: 586px;
    width: 100%;
    width: 50%;
}

.features-main-title {
    max-width: 468px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    color: #131313;
    padding: 5px 0 24px 15px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}

.features-description {
    max-width: 586px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

.features-sub-title-container {
    max-width: 586px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}

.features-sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.features-sub-description {
    max-width: 514px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.feature-img-container img {
    max-width: 600px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.feature-img-container button {
    max-width: 200px;
    width: 100%;
    height: 100px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -50px;
    margin-left: -20px;
}

.feature-button-half {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.feature-button-other-half {
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
}


.span-three {
    font-size: 25px;
    color: #FFFFFF;
}

/*---------------------------------------------
    Facts container styling of main section 
 ---------------------------------------------*/
.facts-conatainer {
    max-width: 1240px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.facts-description {
    max-width: 542px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 100px;
}

.facts-icon-container {
    display: flex;
}

.facts-icon-title-container {
    margin-left: 50px;
    max-width: 241.83px;
    width: 100%;
    height: 241.83px;
    padding: 46px 37px 60px 36px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.facts-icon-title-container:hover {
    transform: translate(30px, 20px) rotate(20deg);
    transition: 0.5s;
}

.facts-icon-title-container img,
h3 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin-bottom: 5px;
}

.facts-icon-title-container p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/*-----------------------------
     Section extra styling 
 ------------------------------*/
.extra {
    max-width: 1240px;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.architect-title {
    text-align: center;
    margin-bottom: 40px;
}

.architect-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.architect-img img {
    height: 60vh;
    width: 100%;
    border-radius: 8px;
}

.architect-steps li {
    margin-top: 20px;
}

/*----------------------------------------------------------
    Sponsor container section styling of main section 
 ----------------------------------------------------------*/
.sponsor-container {
    max-width: 1240px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 150px;
}

.sponsor-title-container {
    max-width: 542px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.sponsor-description {
    max-width: 542px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.sponsor-logo-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sponsor-logo-container img {
    filter: grayscale(1);
}

/*-----------------------
      Footer styling 
 ------------------------*/
.copyright-container {
    max-width: 1240px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #FFF4E7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    padding: 20px;
}

.copyright-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}

/*-------------------------------- 
        Media queries for
        Mobile devices 
--------------------------------*/
@media only screen and (max-width:576px) {
    .header-banner-section-container {
        height: 800px;
    }
        /* I think no need to do this. Because the navbar is already responsive. */
    /* .lists{
        flex-direction: column;
    } */

    .quick-list-container {
        flex-direction: column;
        gap: 30px;
        height: 100%;
        margin-bottom: 300px;
    }

    .quick-list-pic-container {
        padding: 20px;
        max-width: 500px;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 900px;
        gap: 20px;
    }

    .quick-list {
        width: 100%;
        text-align: center;
    }

    .features-container {
        flex-direction: column;
        text-align: left;
        margin: 0 auto;
        margin-top: -200px;
    }

    .features-sub-title-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .feature-img-container button {
        margin-top: 50px;
        margin-left: 30%;
        margin-bottom: 50px;
    }

    .facts-icon-container {
        flex-direction: column;
        gap: 10px;
    }

    .facts-conatainer {
        margin-top: 200px;
    }

    .architect-container {
        flex-direction: column;
        gap: 30px;
    }

    .sponsor-container {
        margin-top: 50px;
    }

    .sponsor-logo-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .sponsor-description {
        margin-bottom: 50px;
    }

    .sponsor-logo-container {
        gap: 20px;
    }

    .copyright-container {
        text-align: center;
        padding: 20px;
    }
}