* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid red; */
}

/*----------------- 
   Header Styling 
-------------------*/
header {
    width: 100%;
    height: 1170px;
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 100px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 200px;
    align-items: center;
}

.navbar-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.lists {
    display: flex;
    list-style: none;
}

.lists a {
    text-decoration: none;
    color: black;
    margin-right: 60px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.banner-container {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
    margin-bottom: 40px;
}

.banner-description {
    width: 870px;
    margin-bottom: 33px;
}

.banner-button {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.banner img {
    width: 1200px;
}

/*------------------------------------------
    Section one styling of main section 
 -------------------------------------------*/
.quick-list-container {
    display: flex;
    width: 1318px;
    height: 708px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.quick-list-pic-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list-pic-container img {
    width: 342px;
    height: 342px;
    display: grid;
    grid-template-columns: 30px 30px;
}

.quick-list {
    width: 537px;
    height: 304px;
}

.quick-list-title {
    width: 468px;
    height: 106px;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
    margin-bottom: 24px;
}

.span-one {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.span-two {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}

.quick-list-description {
    width: 537px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.quick-list-button {
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}

/*------------------------------------------- 
     Section two styling of main section 
--------------------------------------------*/

.features-container {
    display: flex;
    width: 1240px;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    gap: 70px;
    margin-bottom: 200px;
}

.features-title-container {
    width: 586px;
    height: 100vh;
}

.features-main-title {
    width: 468px;
    height: 106px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    padding: 5px 0 24px 15px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}

.features-description {
    width: 586px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

.features-sub-title-container {
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}

.features-sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.features-sub-description {
    width: 514px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.feature-img-container img {
    width: 600px;
    height: 100vh;
    object-fit: cover;
}

.feature-img-container button {
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    color: #FFFFFF;
    padding: 45px 42px;
    margin-top: -80px;
    margin-left: -35px;
}

.span-three {
    font-size: 25px;
    color: #FFFFFF;
}

/*-----------------------------
     Section extra styling 
 ------------------------------*/
 .extra{
    width: 1240px;
    height: 100vh;
    margin-bottom: 100px;
    margin: 0 auto;
 }

 .architect-title{
    text-align: center;
    margin-bottom: 40px;
 }

 .architect-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .architect-img img{
    height: 60vh;
    width: 100%;
    border-radius: 8px;
 }

 .architect-steps li{
    margin-top: 20px;
 }
/*---------------------------------------------
    Section three styling of main section 
 ---------------------------------------------*/
.facts-conatainer {
    width: 1240px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.facts-description {
    width: 542px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 100px;
}

.facts-icon-container {
    display: flex;
}

.facts-icon-title-container {
    margin-left: 50px;
    width: 241.83px;
    height: 241.83px;
    padding: 46px 37px 60px 36px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.facts-icon-title-container img,
h3 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin-bottom: 5px;
}

.facts-icon-title-container p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/*---------------------------------------------
     Section four styling of main section 
 ---------------------------------------------*/

.sponsor-container {
    width: 1240px;
    height: 230px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.sponsor-title-container {
    width: 542px;
    height: 129px;
    margin: 0 auto;
    text-align: center;
}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.sponsor-description {
    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.sponsor-logo-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sponsor-logo-container img {
    filter: grayscale(1);
}

.copyright-container {
    width: 1240px;
    height: 100px;
    margin: 0 auto;
    background: #FFF4E7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.copyright-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}